<section class='home'>

  <img src='/images/beer.png' alt='beer mug' />

  <button><a href='/beers'> Check out the beers!</a></button>

  <button><a href='/random-beer'>Check out a random beer</a></button>

</section>