<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>

    <form action='/collection' method='get'>

      <label for='title'>Title</label>
      <input type='text' name='title' id='title' />

      <label for='rating'>Rating</label>
      <input type='number' name='rating' id='rating' />

      <label for='genre'>Genre</label>
      <input type='text' name='genre' id='genre' />

      <label for='duration'>Duration</label>
      <input type='number' name='duration' id='duration' />

      <label for='releaseDate'>Release Date</label>
      <input type='date' name='releaseDate' id='releaseDate' />

      <button type='submit'>Submit movie</button>

    </form>

  </body>
</html>